@import "./variables.scss";

.portfolio {
  background-color: #023e7d;
  width: 100vw;
  height: 120vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 2fr 7fr;
  overflow: hidden;

  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
    padding: 1rem 2rem;
    @media screen and (max-width: 800px) {
      justify-content: flex-start;
    }
    & a {
      font-size: 3rem;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 2px;
      @media screen and (max-width: 800px) {
        margin-left: 1.5rem;
      }
      &:hover {
        color: peru;
      }
    }
  }

  &_header {
    text-transform: uppercase;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/3;
    & span {
      font-size: 5rem;
      color: $grey-1;
      padding: 0 1px;
      display: inline-block;
      @media screen and (max-width: 800px) {
        font-size: 4rem;
      }
    }
  }
  &_frame {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: 70%;
    margin-bottom: 2rem;
    @media screen and (max-width: 600px) {
      padding: 5px;
    }
    &_links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      & span:nth-child(2n + 1) {
        @media screen and (max-width: 800px) {
          display: none;
        }
      }
      & span:nth-child(2n) {
        min-width: 4rem;
        text-align: center;
        @media screen and (min-width: 800px) {
          display: none;
        }
      }
      & > span {
        color: #ffffff;
        font-size: 3rem;
        background-color: rgba(#ffffff, 0.1);
        padding: 5px 1.3rem;
        letter-spacing: 1.5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
